doctype html
html
	head
		title= title
		link( rel='stylesheet' href='/public/stylesheets/style.css' )
		link( rel='stylesheet' href='/public/stylesheets/nbc-task.css' )
		script( type='text/javascript' src='/public/javascripts/lib/underscore-min.js' )
		script( type='text/javascript' src='/public/javascripts/lib/jquery.min.js' )
		script( type='text/javascript' src='/public/javascripts/lib/handlebars.js' )
		script( type='text/javascript' src='/public/javascripts/lib/backbone-min.js' )
		script( type='text/javascript' src='/public/javascripts/nbc/gallery.js' )
	body
	#nbc-galleries
	#nbc-photos
	#nbc-fullsize

	script( id='nbc-photo-template', type='text/x-handlebars-template' )
		<img id="nbc-photo-{{id}}" src="{{url}}" title="Click to view full size" />
		p.
			{{name}}<br>
			{{date}}

	script( id='nbc-fullsize-template', type='text/x-handlebars-template' )
		<img id="nbc-fullsize-{{id}}" src="{{url}}" title="Click to close" />
		p.
			{{caption}}<br>
			Credit: {{credit}}
