doctype html
html
	head
		title= title
		link( rel='stylesheet' href='/public/stylesheets/style.css' )
		link( rel='stylesheet' href='/public/stylesheets/nbc-task.css' )
		script( type='text/javascript' src='/public/javascripts/lib/underscore-min.js' )
		script( type='text/javascript' src='/public/javascripts/lib/jquery.min.js' )
		script( type='text/javascript' src='/public/javascripts/lib/handlebars.js' )
		script( type='text/javascript' src='/public/javascripts/lib/backbone-min.js' )
		script( type='text/javascript' src='/public/javascripts/nbc/galleries.js' )
	body
	#nbc-galleries

	script( id='nbc-gallery-info-template', type='text/x-handlebars-template' )
		h1.
			{{name}}
		p.
			{{caption}}<br>
			Credit: {{credit}} (Source: {{source}})<br>
		a(href="/nbc/{{id}}") <img id="nbc-gallery-{{id}}" class="nbc-gallery-info-image" src="{{image}}" title="Click to view gallery" />
