
.section#footer
	p.
		<strong>NodeJS Sandbox &#169; <a href="mailto:jarek.predki@hotmail.com">Jaroslaw Predki</a></strong> // 206.372.9131 // <a href="mailto:jarek.predki@hotmail.com">jarek.predki@hotmail.com</a> // Updated: July 21st, 2015
