
.section#footer
	p.
		<strong>NodeJS Sandbox &#169; <a href="mailto:jarek.predki@hotmail.com">Jaroslaw Predki</a></strong> // 206.946.2508 // <a href="mailto:jarek.predki@hotmail.com">jarek.predki@hotmail.com</a> // Updated: July 22nd, 2015
