
meta( name='google-site-verification' content='0cNkdAPWltjmi0fZCGxTscYy_SxTH23Im4ixlKiUfls' )
link( rel='stylesheet' href='/public/stylesheets/style.css' )
script( type='text/javascript' src='/public/javascripts/lib/underscore-min.js' )
script( type='text/javascript' src='/public/javascripts/lib/jquery.min.js' )
script( type='text/javascript' src='/public/javascripts/lib/handlebars.js' )
script( type='text/javascript' src='/public/javascripts/lib/backbone-min.js' )
script( type='text/javascript' src='/public/javascripts/lib/class.js' )
