doctype html
html
	head
		title= title
		include ./head.jade
		block head-content
	body
		#container
			#content
				include ./nav.jade
				include ./header.jade
				block body-content
				include ./footer.jade

		include ./templates.jade
		include ./ga.jade
