
link( rel='stylesheet' href='/public/stylesheets/sandbox.css' )
// 3d code (temp out)
//script( type='text/javascript' src='http://threejs.org/build/three.min.js' )
//script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-3d.js' )
script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-page.js' )
script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-demo.js' )
script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-core.js' )
