extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-index.js' )

block body-content
	// 3d code (temp out)
	//.section#sandbox-viewport
	//	#sandbox3d
	#container
		#content
			.section#sandbox-home(style="text-align:left;")
				h3 Welcome to my NodeJS Sandbox!
				p.
					This shell application is running on NodeJS, with Express.<br>
					<br>
					The whole site is made up of a custom container application called (Sandbox), and other sub-apps made with Node / Express on the back providing an API for data access, and Backbone / Jade / Handlebars for front end UI and interaction.<br>
					<br>
					This sandbox was initially started in June, 2015 while I applied to a job position which listed Node.js as one of the requirements. I wanted to build something simple and quickly to have a demo reel of sorts in case I got an interview. Mid July, I had a phone interview for the position, and a week later I was asked in for an on-site interview. As part of the interview process, I was also tasked to create a Node.js app relating to photos and galleries. I had already written a local API for photos and two demo galleries, hence the task for me was to create a new galleries page, with a gallery view and single photo view. The task also asks to use a specific data source, so my approach would be to add a wrapper API locally and pull data from the 3rd party source. Keeping these in a list will also allow to add more galleries simply by adding a few lines into a json file.<br>
					<br>
					All in all, my task here will be to create a few API calls for galleries and photos, and a new page within my already created page structure to display a list view (galleries and photos) and some navigation to move around the galleries and photos as well.
				.backdrop(style="background-color:#fff;")
		.backdrop(style="background-color:#fff;")
