extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='http://threejs.org/build/three.min.js' )
	script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-info.js' )

block body-content
	.section#sandbox-info(style="text-align:left;")
		h3 Sandbox Information
		p.
			Welcome to my NodeJS Sandbox. It's a place for me to play with NodeJS and build some demos, example sites and so on.<br>
			<br>
			Sandbox is basically a template web application. It uses NodeJS and Express to host and run the main web app.<br>
			And inside it I can quickly add new pages, use html templates and (soon to come) any engine features
			to build apps, games or other web experiences.<br>
			<br>
			At the top are NodeJS and Express.<br>
			<br>
			Templating is done with Jade and Handlebars.<br>
			<br>
			Front End UI is built using a top level app (Sandbox), and each page is a Backbone MVC app.<br>
			This setup allows me to add new content (pages, demos, etc) and build upon existing code.<br>

		h3 Design & Development
		p.
			The initial coding of this sandbox started around June 18, 2015 and took about 4 days. It was mostly setting Node, Express, rendering and I added a few 'info' pages, two photo galleries and a copy of my resume site into its own sub-site within this sandbox. Since then other obligations took my time, but I re-visited this code again during the weekend of June 19th, 2015 and added the 'NBC Task' page. I also cleaned up the existing code a bit.

		h3 Frameworks, Libraries, SDK's & API's
		p.
			Here's a list of JavaScript frameworks, libraries, SDK's & API's that I do or will use or I'm keeping a link to around for research or studying.
		ul
			li <strong><a href="http://nodejs.org/" target="_blank">NodeJS</a></strong> - Web Server, RESTful Data Provider
			li <strong><a href="http://expressjs.com/" target="_blank">Express</a></strong> - Web Server, RESTful Data Provider
			li <strong><a href="http://jade-lang.com/" target="_blank">Jade</a></strong> - Node Template Engine
			li <strong><a href="http://handlebarsjs.com/" target="_blank">Handlebars</a></strong> - Node Template Engine
			li <strong><a href="http://backbonejs.org/" target="_blank">Backbone</a></strong> - Front End MVC Library
			li <strong><a href="http://jquery.com/" target="_blank">jQuery</a></strong> - JavaScript API

		.backdrop(style="background-color:#fff;")
