extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='http://threejs.org/build/three.min.js' )
	script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-journal.js' )

block body-content
	.section#sandbox-journal(style="text-align:left;")
		h3 Todo List
		ul
			li finish the resume make over into Node/Backbone. Much to do here, time permitting.
			li turn the journal into a blog style page maybe? hmm..!
			li add incremental dynamic loading into photo galleries, and integrate it into the demo galleries.
			li do some respontive tuning for the ui (fonts, widths, sizes, etc.)
			li.done <strong>done!</strong> - give landing page a visual make over. (Add bg, fonts, sizes, colors, etc.)
			li.done <strong>done!</strong> - split landing page into a few sub pages. (info, demos, journal, etc.)
			li.done <strong>done!</strong> - add shared header.
			li.done <strong>done!</strong> - add shared footer.
			li.done <strong>done!</strong> - add shared nav on child pages.
			li.done <strong>done!</strong> - add nav json data path.

		h3 Wish List
		ul
			li add a Node friendly database.
			li move all data to database, and change REST API to use the db and return json (instead of reading from file).

		h3 Todo // Photo Gallery 1
		ul
			li add support for multiple galleries.
			li fix on load boarders being visible and then images showing up (need on-loaded event handler to show image after it loads)

		h3 Todo // Photo Gallery 2
		ul
			li add support for multiple galleries.
			li.done <strong>done!</strong> -  make thumbnails and preveiw heights always match.
			li.done <strong>done!</strong> - fix horizonatal scroll bar (it's showing)

		h3 Todo // REST API
		ul
			li add 'one' api calls for photos -> /photos/:id and /photos/:name/
			li add 'one' api calls for demos -> /demos/:id and /demos/:name/
			li add 'incremental' api calls for photos -> /photos/:offset (will need for dynamic content loading)
			li.done <strong>done!</strong> - add 'one' api calls for pages -> /pages/id/:id and /pages/url/:url

		.backdrop(style="background-color:#fff;")
