extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/sandbox/sandbox-demos.js' )

block body-content
	#container
		#content
			.section#sandbox-demos(style="text-align:left;")
				h3 Demo List<br>
				#demos
				.backdrop(style="background-color:#fff;")
		.backdrop(style="background-color:#fff;")
