
/* PHOTO GALLERY */

#gallery-container {
	width: calc( 100% );
	height: calc( 100% );
}

#gallery-photos {
	float: left;
	width: calc(( 150px * 2 ) + 18px );
	height: calc( 100% );
	min-height: calc( 100% );
	line-height: 0px;
	overflow-y: scroll;
}

/* PHOTO GALLERY 2 - THUMBNAILS AND PREVIEW PANE */

.gallery-photo {
	display: inline-block;
	position: relative;
	width: calc( 150px - 2px );
	/*height: calc( 150px - 2px );*/
	padding: 0px;
	margin: 0px;
	border: 1px solid #ccc;
	overflow: hidden;
	cursor: pointer;
}

.gallery-photo:hover {
	border-color: #f00;
}

.gallery-photo > img {
	width: 100%;/*400px;*/
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* PHOTO GALLERY - PHOTO PREVIEW */

#gallery-photo-preview {
	float: left;
	width: calc( 100% - (( 150px * 2 ) + 20px ));
	line-height: 0px;
	background-color: #eee;
	margin: auto 0px;
}

.gallery-photo-preview {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 1px solid #ccc;
}

.gallery-photo-preview > img {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.gallery-photo-preview > p {
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: right;
	padding: 10px 10px;
	margin: 0px;
	line-height: 1.25em;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

