
/* START FILE */

body {
	background-image: url( '//www.clearerimage.com/jarekpredki/images/photos/_DSC6361And9web.jpg' );
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #fff;
}

/* END FILE */
