extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/jarekpredki/jarekpredki.js' )

block body-content
	#container
		#content
			.section#sandbox-home(style="text-align:left;")
				h3 Memorable Clients
				p.
					<a href="http://www.t-mobile.com/" target="_blank">T-Mobile</a> - my.t-mobile.com Album Site, Flash Slideshow Application, Mobile Web Album Site.<br>
					<a href="http://www.verizon.com/" target="_blank">Verizon</a> - Web Update / Maintenance.<br>
					<a href="http://www.uscellular.com/" target="_blank">US Cellular</a> - Web Update / Maintenance.<br>
					<a href="http://www.clearerimage.com/" target="_blank">ClearerImage, Inc.</a> - Web Store Update / Maintenance, Photo Scanning, Video Recording.<br>
					<a href="https://en.wikipedia.org/wiki/The_3DO_Company" target="_blank">The 3DO Company</a> - PlayStation 2, GameCube, X-Box and PC Games.<br>
					<a href="https://en.wikipedia.org/wiki/Smith_%26_Tinker" target="_blank">Smith & Tinker</a> - PC / Flash / Air Games.<br>
					<a href="http://disneychannel.disney.com/" target="_blank">DisneyChannel</a> - Web Site and Online Games for Various Brands.<br>
					<a href="http://www.nick.com/" target="_blank">Nickelodeon</a> - Web Site and Online Games for Various Brands.<br>
					<a href="http://www.nickjr.com/" target="_blank">Nick Jr.</a> - Web Site and Online Games for Various Brands.<br>
					<a href="http://www.kibagames.com/games/postopia" target="_blank">Postopia</a> - Web Site and Online Games for Various Brands.<br>
					<a href="http://www.nintendo.com/" target="_blank">Nintendo</a> - Online Games for Various Brands.<br>
					<a href="http://www.microsoft.com/" target="_blank">Microsoft</a> - DVD Application, Web Site.<br>
					<a href="http://www.shutterfly.com/" target="_blank">PhotoWorks (now ShutterFly)</a> - 2D / 3D Software Rendered, PageFlip / PhotoBook Application.<br>
					<br>
					If you play games or use websites by these companies (or have in the past), you might have seen my work. And, I... Thank You!<br>
					<br>
				h3 Memorable Brands
				p.
					<a href="https://en.wikipedia.org/wiki/Army_Men" target="_blank">Army Men</a>, <a href="http://www.disneychannel-asia.com/DisneyChannel/supersites/kimpossible/" target="_blank">Kim Possible</a>, <a href="http://boomansion.net/media/flash/memorymatch/" target="_blank">Super Paper Mario</a>, <a href="http://www.nickjr.com/dora-the-explorer/games/doras-carnival-adventure/" target="_blank">Dora the Explorer</a>, <a href="http://disney.com.au/DisneyChannel/thereplacements/games/jetpackjeopardy/" target="_blank">The Replacements</a>, <a href="http://www.powerrangers.com/games/" target="_blank">Power Rangers</a>, <a href="http://www.nick.com/games/catscratch-zero-g-kitties.html" target="_blank">Catscratch</a>, <a href="http://freegame3.com/game/kikis-extreme-polar-ice-caps.html" target="_blank">Kiki's Adventures</a>, <a href="http://freegame3.com/game/jumpin-jungle-party.html" target="_blank">Brandy and Whiskers</a>, <a href="http://www.nick.com/games/" target="_blank">Fairly Odd Parents</a>, <a href="http://www.hasbro.com/en-us" target="_blank">Hasbro</a>, <a href="http://www.y8.com/games/bronks_jungle_adventure" target="_blank">Bronk's Adventures</a>, <a href="http://disneychannel.disney.com/cory-in-the-house" target="_blank">Cory in the House</a>, <a href="https://en.wikipedia.org/wiki/The_Naked_Brothers_Band_(TV_series)" target="_blank">The Naked Brothers Band</a>, <a href="https://en.wikipedia.org/wiki/Shorty_McShorts'_Shorts" target="_blank">Shorty McShort' Shorts</a><br>
					<br>
					If you play games or use websites related to these brands (or have in the past), you might have seen my work. And, I... Thank You!<br>
					<br>
				h3 Select Project Gallery
					* in progress *<br>
				p.
					<a href="./contact">Next Section (Contact)</a><br>
					<a href="#">Return to Top</a><br>
				.backdrop(style="background-color:#fff;")
		.backdrop(style="background-color:#fff;")
