extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/jarekpredki/jarekpredki.js' )

block body-content
	#container
		#content
			.section#sandbox-home(style="text-align:left;")
				h3 Education
				p.
					<strong><a href="http://www.odea.org/" target="_blank">O'Dea High School</a> - Seattle, WA (1992 - 1996)</strong><br>
					<strong><a href="http://www.seattleu.edu/scieng/computer-science/" target="_blank">Seattle University</a> - Seattle, WA (1996 - 2000)</strong><br>
					Pursuing <a href="http://www.seattleu.edu/scieng/computer-science/undergraduate/bs-comsci/" target="_blank">Bachelor of Science in Computer Science</a><br>
					<br>
					Formal computer science and software engineering education with all programming done in C, C++, ADA and Lisp.<br>
					<br>
					Primary focus was on algorithm design, data structures, stacks, queues, lists, trees, hash tables, sorting, searching, path finding, operating systems, image processing, TCP/IP networking and assembly language. Senior project included developing a Windows Radar Application for Boeing. I also engaged in an additional research project focusing on the Graph Coloring Problem.<br>
					<br>
				h3 Degree Status
				p.
					As of the year 2000, I finished all of the computer science courses and currently have two quarters left of core curriculum to finish my undergraduate degree.<br>
					<br>
					I left the university due to financial reasons, and straight after senior year I dissolved my web business and moved to Redwood City, California to begin my software engineering career at The 3DO Company.<br>
					<br>
				h3 Research Projects and Self Studies (1994 - 2000)
				p.
					<strong>Graphics</strong><br>
					Graph Coloring Problem (Algorithm Design), Optical Character Recognition (OCR), Image Processing Techniques and Algorithms (Filters, Image Blending).<br>
					<br>
					<strong>Game Development</strong><br>
					C, C++, Win32, Windows Applications, Windows SDK, Game Engine Design, 3D Math for Games, 3D Rendering with 3Dfx/OpenGL/DirectX SDK's.<br>
					<br>
					<strong>Web Development</strong><br>
					ASP, HTML, JavaScript, CSS, Application Design & Development, Databases, e-Commerce, IIS and SQL Server.<br>
					<br>
					<strong>Business</strong><br>
					Start Up Research, Business Management and Team Management.<br>
					<br>
				h3 Second Major Plans
				p.
					Mathematics, Physics or Electrical Engineering with additional courses taken in each field.<br>
					<br>
					At this point I'm not sure if I'll pursue a second major when I return to finish my degree. If I do decide to do a second major it'll most likely be <a href="http://www.seattleu.edu/scieng/math/" target="_blank">Bachelor of Science in Mathematics</a>. I definitely want to continue on to get a masters degree, which is why I'm inclined to pass on the second undergraduate degree and go straight for a masters.<br>
					<br>
				h3 Personal Studies
				p.
					<strong>Game Development Research</strong><br>
					Application and Game Engine Design, 3D Math and Graphics Programming, OpenGL SDK, DirectX SDK, 3Dfx SDK.<br>
					<br>
					<strong>Web Development Research</strong><br>
					ASP Components, ASP, VB, HTML, JavaScript, Web Services, IIS, SQL Server, Database Design, SQL Query Language.<br>
					<br>
					<strong>Business Research and Project</strong><br>
					Small Business / Start Up Process, Business Registration, Business Incorporating, Small Development Team Management.<br>
					Formed small web development company during senior year (SigmaFX, Inc.), managed a small three person team to complete janitorshop.com from start to finish in 6 months. Met with client to discuss design of the site, weekly updates with presentable content, testing site and launch of the site. Delegated work tasks among the team, mentored other team members regarding database design, web technologies, and helped to resolve any issues to complete the project.<br>
					<br>
				h3 Future Plans
				p.
					In the coming few years (2015 - 2020), I plan to return to <a href="http://www.seattleu.edu/" target="_blank">Seattle University</a> to obtain my undergraduate degree and continue on to pursue a <a href="http://www.seattleu.edu/scieng/computer-science/graduate/mscs/" target="_blank">Master of Science in Computer Science</a> degree.<br>
					<br>
				p.
					<a href="./history">Next Section (Experience)</a><br>
					<a href="#">Return to Top</a><br>
				.backdrop(style="background-color:#fff;")
		.backdrop(style="background-color:#fff;")
