extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/jarekpredki/jarekpredki.js' )

block body-content
	.section#sandbox-home(style="text-align:left;")
		h3 The Basics
		p.
			<strong>Age</strong>: 37<br>
			<strong>Short Name</strong>: Jarek, pronounced as 'y-ah-r-eh-k'<br>
			<br>
			<strong>Place & Date of Birth</strong><br>
			Lodz, Poland on March 15th, 1978. In 1989 I moved to the United States.<br>
			<br>
			<strong>Current Location</strong><br>
			Seattle, Washington, USA (1989 to 2000, 2000 - 2003 in Redwood City, CA - and in Seattle again since 2003).<br>
			<br>
			<strong>Languages Spoken & Written</strong><br>
			Polish / Polski for 37+ years<br>
			English / Angielski for 26+ years<br>
			<br>
			<strong>Employment Status</strong><br>
			Looking for Full Time Employment in Game or Web Development<br>
			Currently Self Employed at ClearerImage, Inc.<br>
			<br>
			<strong>Seeking Position</strong><br>
			(Mid to Senior) Front End Web Developer (JavaScript, HTML, CSS)<br>
			(Mid to Senior) Full Stack Web Developer (PHP, Java, Node, REST, Database, JavaScript, HTML, CSS)<br>
			(Mid to Senior) Software Engineer (Game Engine, Gameplay, Web Development)<br>
			<br>
			Programming Languages: C, C#, C++, JavaScript, ActionScript, PHP, SQL, ASP, HTML, CSS.<br>
			And willing to pick up other languages as needed, including learning new Frameworks, SDK's and API's.<br>
			<br>
			<strong>Availability</strong>: Immediate.<br>
			<br>
		h3 Technology Interests
		p.
			<strong>Computers & Technology</strong><br>
			PC, Windows, Linux, Unix, Android, Mobile, X-Box, PlayStation, TV, Web, Smartphones, Tablets.<br>
			<br>
			<strong>Media Industry</strong><br>
			Web, Android, UI, UX, Media, Online, Film, Photography, Social.<br>
			<br>
			<strong>Games Industry</strong><br>
			Console Games (X-Box and PlayStation), Single Player, Multi Player and MMO Games, PC Games, Web Games, Handheld and Mobile Games.<br>
			<br>
			<strong>Programming Languages</strong><br>
			C, C#, C++, JavaScript, Android, Mobile, Frameworks, RESTful API's, SDK's, AJAX, JSON, Canvas, WebGL, Unity, DirectX, OpenGL, Shaders.<br>
			<br>
			<strong>Software Engineering</strong><br>
			Game Development, Web Development, Mobile Development, Design Patterns, Algorithms, Graphics, User Interfaces, User Experiences, Engine Design, Design Patterns, Data Loading, Storing, Parsing, 2D and 3D Rendering, Animation, Load Balancing, AI, Photo and Video Media, Image Processing, API's, SDK's, Frameworks.<br>
			<br>
		h3 Photography Interests
		p.
			<strong>Subject Matter</strong><br>
			Scenic, Landscape, Cityscape, Nature, Mountains, Forests, Animals, Birds, Flowers, Sunrise, Sunset, Cars, Sports, People, Events, Golden Hour.<br>
			<br>
			<strong>Camers</strong><br>
			Nikon Cropped and Full Frame DSLR Cameras, GoPro, Smartphone / Tablet / Laptop Integration, Telescopes.<br>
			<br>
			<strong>Interests</strong><br>
			High Definition Range (HDR), Night, Nature and Travel Photography, Luminosity Masks, Lightroom, Camera RAW, Photoshop, Post-Processing.<br>
			<br>
		h3 Personal Hobbies
		p.
			<strong>Video Games</strong><br>
			PC and PlayStation, single player and multiplayer in genres of Fantasy RPG and Space Simulation, City Building, Soccer, Adventure.<br>
			<br>
			<strong>Next In Line</strong><br>
			Star Citizen (PC, Space Simulation, MMO) - from the creator of Wing Commander / Privateer. Looks like a really polished space mmo.<br>
			Final Fantaxy XIV (PS4, RPG, MMO) - mmo style Final Fantasy, looks really good.<br>
			Final Fantasy XV (PS4, RPG, Single Player) - single player story, much like FF7. Looks really good, awesome combat system.<br>
			<br>
			<strong>Past Favorites</strong><br>
			Final Fantasy VII, IX, XI and XII<br>
			Metal Gear Solid<br>
			WarCraft + StarCraft<br>
			World of Warcraft (Burning Crusade, Wrath of the Lich King, Cataclysm, Mists of Pandaria and Warlords of Draenor)<br>
			Diablo (1, 2 and 3 + Reaper of Souls)<br>
			Wing Commander + Privateer<br>
			Sim City + Civilization<br>
			Counter Strike<br>
			Mortal Kombat + Soul Caliber<br>
			and many others.<br>
			<br>
			<strong>Sports & Outdoors</strong><br>
			Biking, Snow Boarding, Rock Climbing, Hiking, Camping, Photography, Football (Soccer) and American Football.<br>
			<br>
			Leagues I Follow:<br>
			FIFA World Cup<br>
			UEFA Euro (Poland)<br>
			UEFA Champions League (any team with Polish folks on them, and my favorite teams from Europe. See below)<br>
			UEFA Europa League (same as UCL)<br>
			England - Barclays Premier League (Chelsea and Arsenal)<br>
			Spain - La Liga (Barcelona, Real Madrid)<br>
			Germany - Bundesliga (Bayern and BVB)<br>
			Poland - Ekstraklasa (Legia, Wisla, Poznan and Wroclaw)<br>
			Poland National Teams<br>
			Seattle Seahawks<br>
			<br>
			<strong>Pets</strong><br>
			Dogs all the way! I currently have a puppy that is 1.5 years old. Mix between a German Shepherd + Doberman - named Kuba.<br>
			I also like to have aquarium fish sometimes.<br>
			<br>
		p.
			<a href="./jarekpredki/lookingforwork">Next Section (Looking for Work)</a><br>
			<a href="#">Return to Top</a><br>
		.backdrop(style="background-color:#fff;")
