extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/jarekpredki/jarekpredki.js' )

block body-content
	#container
		#content
			.section#sandbox-home(style="text-align:left;")
				h2 Work History
				h3 <a href="http://www.clearerimage.com/" target="_blank">ClearerImage, Inc.</a> - Bellevue, WA (2009 - Ongoing)
				p.
					<strong>Positions</strong><br>
					Co-Founder / COO - along with Adam Kubicki as CEO<br>
					Project Manager - company web store development (two phases) and maintenence (ongoing)<br>
					Front End Web Developer - design and development of all front end code<br>
					Back End Web Developer - design and development of all back end code and database<br>
					<br>
					<strong>Primary Roles</strong><br>
					Full web design and development of first e-commerce web side which launched in 2010. And since 2013, full web design of a new second e-commerce site to replace the current site (due to Flash being outdated).<br>
					First site was coded in ActionScript 3, PHP and SQL (MySQL). Second site was coded in PHP 5.2, SQL (MySQL), HTML 5, CSS 3 and JavaScript.<br>
					The new site will be launching this Summer (2015). All code development has been completed and site is ready for launch in the coming month or so (pending some business updates regarding new drop off & pick-up locations as a shipping option).<br>
					<br>
					<strong>Common Tasks</strong><br>
					Web project management and web design including front end site engine, back end session, account and order processing engine, database design and scripting, 2-tier front end core engine and CI project engine programming, back end PHP programming, prioritizing engine and site development, testing, debugging and resolving issues on an ongoing basis.<br>
					<br>
					<strong>Current Site (2009 - 2015)</strong><br>
					Flash and ActionScript 3 front end with shopping cart, ordering and checkout system with payment processing, PHP back end, MySQL database.<br>
					Front and Back End Development, JIRA, Confluence, Authorize.NET, Google Analytics, Facebook, Twitter, Google.<br>
					<br>
					<strong>Upcoming Site (Summer 2015)</strong><br>
					Development on Windows XP and 7, Apache, MySQL Server, phpMyAdmin, HTML 5, CSS 3, JavaScript, PHP, MySQL.<br>
					Custom Front End Framework Development (gsUI, ciUI), Custom Back End Framework Development (gsAPI), Authorize.NET API, Analytics API, Facebook API, Twitter API, Google+ API, JIRA, Confluence.<br>
					<br>
				h3 <a href="https://www.linkedin.com/company/newbay-software" target="_blank">NewBay Software</a>, acquired by <a href="http://us.blackberry.com/" target="_blank">RIM</a>, re-acquired by <a href="http://www.synchronoss.com/" target="_blank">Synchronoss</a> - Seattle, WA (2011 - 2013)
				p.
					<strong>Positions / Roles</strong><br>
					Flash Activity Developer - account album photo and video collection slideshow application (<a href="http://www.t-mobile.com/" target="_blank">my.t-mobile.com</a>)<br>
					Front End Web Developer - front end web maintenance and content updates (<a href="http://www.t-mobile.com/" target="_blank">my.t-mobile.com</a>, <a href="http://www.verizon.com/" target="_blank">www.verizon.com</a>, <a href="http://www.uscellular.com/" target="_blank">www.uscellular.com</a>, in-house executive project)<br>
					<br>
					<strong>Common Tasks</strong><br>
					Flash activity design and development, T-Mobile site maintenance, collaborate with design, QA and project manager, plan tasks, debug issues and resolve tickets on an ongoing basis. Took over lead front end tasks for T-Mobile, and remained as last person on project to finish remaining work orders while company transitioned over from NewBay into Synchronoss during its acquisition.<br>
					<br>
					<strong>Development Info</strong><br>
					Development on Windows 7, IntelliJ, FlashDevelop, Ant, Maven, Java, HTML 5, CSS 3, JavaScript, jQuery, Facebook, Twitter, Google, Analytics, SMS, Mobile Web, Flash, ActionScript, FlashDevelop, IntelliJ, Ant, Maven, JIRA, Confluence.<br>
					<br>
					<strong>Notable Clients</strong><br>
					<a href="http://www.t-mobile.com/" target="_blank">T-Mobile</a>, <a href="http://www.verizon.com/" target="_blank">Verizon</a>, <a href="http://www.uscellular.com/" target="_blank">US Cellular</a>.<br>
					<br>
				h3 <a href="https://en.wikipedia.org/wiki/Smith_%26_Tinker" target="_blank">Smith & Tinker</a> - Bellevue, WA (2008 - 2009)
				p.
					<strong>Positions / Roles</strong><br>
					Flash Game Developer (in-house title)<br>
					<br>
					<strong>Common Tasks</strong><br>
					Game activity design and development, collaboration with design and art team, testing, debugging game during development life cycle, schedule and prioritize tasks.<br>
					<br>
					<strong>Development Info</strong><br>
					Development on Windows Vista, FlashDevelop, Flash, Air, ActionScript 3, HTML, Photoshop.<br>
					<br>
				h3 <a href="http://www.methodologie.com/" target="_blank">Methodologie</a> - Seattle, WA (2007 - 2008)
				p.
					<strong>Positions / Roles</strong><br>
					Front End Web Developer (various web projects)<br>
					<br>
					<strong>Common Tasks</strong><br>
					Collaborate with design team, incorporate mockups into code and maintain sites, create activities in flash, project task planning and scheduling, debugging.<br>
					<br>
					<strong>Development Info</strong><br>
					Development on a Mac, HTML, CSS, JavaScript, ActionScript, Flash, Photoshop, Illustrator.<br>
					<br>
				h3 <a href="http://smashingideas.com/" target="_blank">Smashing Ideas</a> - Seattle, WA (2004 - 2007)
				p.
					<strong>Positions / Roles</strong><br>
					Flash Game Developer (<a href="http://disneychannel.disney.com/" target="_blank">DisneyChannel</a>, <a href="http://www.nick.com/" target="_blank">Nickelodeon</a>, <a href="http://www.kibagames.com/games/postopia" target="_blank">Postopia</a>, <a href="http://www.clearerimage.com/jarekpredki/" target="_blank">Nintendo</a>, and others)<br>
					Front End Web Developer (<a href="http://disneychannel.disney.com/" target="_blank">DisneyChannel</a>, <a href="http://www.nick.com/" target="_blank">Nickelodeon</a>, <a href="http://www.kibagames.com/games/postopia" target="_blank">Postopia</a>, <a href="http://www.shutterfly.com/" target="_blank">PhotoWorks (now ShutterFly)</a>, and others)<br>
					Source Control Engineer (in-house C# tool for asset management and source control)<br>
					<br>
					<strong>Common Tasks</strong><br>
					Designing and developing various games, websites and applications for various clients. All games and sites were developed in Flash, ActionScript, HTML, JavaScript. Project teams consisted of a producer, developer, designer and an animator. I was responsible for designing and code development of all game, site or ad modules: engaged in processing of art graphics and animations, collision detection programming, sound and music, AI development for games, collaborated with project managers, game and web designers and animators to develop and integrate new game and web site ideas into projects, update existing code or front end sites, work out design, art and gameplay issues.<br>
					<br>
					<strong>Development Info</strong><br>
					Development on Windows XP, Visual Studio, FlashDevelop, Eclipse, Flash 7+, ActionScript 2 and 3, HTML, JavaScript, CSS, C#.<br>
					<br>
					<strong>Notable Clients</strong><br>
					<a href="http://disneychannel.disney.com/" target="_blank">DisneyChannel</a>, <a href="http://www.nick.com/" target="_blank">Nickelodeon</a>, <a href="http://www.kibagames.com/games/postopia" target="_blank">Postopia</a>, <a href="http://www.clearerimage.com/jarekpredki/" target="_blank">Nintendo</a>, <a href="http://www.microsoft.com/" target="_blank">Microsoft</a>, <a href="http://www.shutterfly.com/" target="_blank">PhotoWorks (now ShutterFly)</a> and several others.<br>
					<br>
				h3 <a href="https://en.wikipedia.org/wiki/The_3DO_Company" target="_blank">The 3DO Company</a> - Redwood City, CA (2000 - 2003)
				p.
					<strong>Positions / Roles</strong><br>
					Software Engineer (<a href="https://en.wikipedia.org/wiki/Portal_Runner" target="_blank">Portal Runner</a>, <a href="https://en.wikipedia.org/wiki/Army_Men:_Sarge's_War" target="_blank">Army Men: Sarge's War</a>, <a href="https://en.wikipedia.org/wiki/The_Four_Horsemen_of_the_Apocalypse_(video_game)" target="_blank">Four Horsemen of the Apocalypse</a>)<br>
					<br>
					<strong>Common Tasks</strong><br>
					Game engine and tools design and development (C, C++), main game camera engineer on both projects, co-engineered AI system on second project, integrated in-house script SDK into game engine, worked with designers teaching scripting language and programming techniques, mentoried level design and scripting, helped with script debugging and fixing gameplay issues. Met with other developers and designers to brainstorm gameplay ideas, implemetation methods, worked on algorithm design and general development problem solving.<br>
					<br>
					<strong>Development Info</strong><br>
					Development on Windows XP, Visual Studio, C, C++, Engine Design & Development, Entity System, 3D Camera, Artificial Intelligence, Gameplay Scripting, In Game Cinematic Scripting, Video, Audio.<br>
					<br>
					<strong>Shipped Titles</strong><br>
					<a href="https://en.wikipedia.org/wiki/Portal_Runner" target="_blank">Portal Runner</a> on PlayStation 2, <a href="https://en.wikipedia.org/wiki/Army_Men:_Sarge's_War" target="_blank">Sarge's War</a> on PlayStation 2, X-Box and PC.<br>
					<br>
				h2 Personal Projects
				h3 <a href="http://www.facebook.com/grafeeka/" target="_blank">Grafeeka Studios</a> - HDR Photography, Prints, Online Store - Tukwila, WA (2011 - Ongoing)
				p.
					<strong>Positions / Roles</strong><br>
					Co-Founder, Photographer and Lead Web Developer (upcoming web store/blog)<br>
					<br>
					<strong>Common Tasks</strong><br>
					Project management, web front end and back end development to create online store to sell prints and calendars, database scripting, order and payment processing, business management, photography and post-production HDR photo editing.<br>
					<br>
					<strong>Other Info</strong><br>
					HDR Photography, Lightroom, Photoshop and Photomatix Post-Production, Protography Printing Process.<br>
					Online site will feature photography portfolio, online store with payment processing, business info and a weekly blog.<br>
					<br>
					<strong>Development Info</strong><br>
					HTML 5, CSS 3, JavaScript, jQuery, gsUI, gsAPI, other frameworks, WordPress, SmugMug, Photoshop, Lightroom, Photomatix.<br>
					<br>
				h3 <a href="http://www.polishfestivalseattle.org/" target="_blank">Polish Festival</a> - Web Presence Rebrand - Seattle, WA (2013 - 2014)
				p.
					<strong>Positions / Roles</strong><br>
					Front End Web Developer<br>
					<br>
					<strong>Common Tasks</strong><br>
					Work with project manager and web designer, convert mockup into working site, content integration, site maintenance.<br>
					<br>
					<strong>Development Info</strong><br>
					HTML 5, CSS 3, JavaScript, Photoshop.<br>
					<br>
				h3 SigmaFX, Inc. - Web Development Studio - Seattle, WA (1999 - 2000)
				p.
					<strong>Positions / Roles</strong><br>
					Co-Founder, Web Project Manager, Lead Web Developer (sigmafx.com, janitorshop.com)<br>
					<br>
					<strong>Common Tasks</strong><br>
					Design and develop an ASP e-commerce site for janitorshop.com, design SQL database, front end programming, project planning, testing, collaborating with client to incorporate features and business requirements into site design and programming into working solutions.<br>
					<br>
					<strong>Development Info</strong><br>
					VB, ASP, SQL Server, e-Commerce, Shopping Cart, Orders, Admin Site, Microsoft Project, Microsoft Source Safe, Windows Server.<br>
					<br>
				h3 TBD: Public release of Front End Application Framework - gsUI (2016+ ?)
				p.
					<strong>Development Info</strong><br>
					HTML 5, CSS 3, JavaScript.<br>
					<br>
					<strong>Other Info</strong><br>
					WordPress, 2D/3D Rendering, SmugMug, Social Integration, UI Controls, UI Components, UI Events, AJAX, JSON, XML, Dynamic Content Loading and Updates.<br>
					<br>
				h3 TBD: Public release of Back End Application Framework - gsAPI (2016+ ?)
				p.
					<strong>Development Info</strong><br>
					PHP, MySQL, e-Commerce.<br>
					<br>
					<strong>Other Info</strong><br>
					Authorize.net SDK, USPS API, RESTful API's, JSON, XML.<br>
					<br>
					<strong>Modules</strong><br>
					Core, System, Session, User, Account, Business, Orders, Social, Communication.<br>
					<br>
				h3 PROTOTYPE: Real Time Render Engine in JavaScript, HTML, CSS, Canvas, SVG, WebGL (2015+)
				p.
					<strong>Abstract</strong><br>
					To create a full 3D real time rendering engine in HTML, CSS 3 and JavaScript. Most of the software rendering code already exists, and simply needs to be ported from ActionScript, C and C++ into JavaScript using Canvas, SVG and WebGL. Using my existing gsUI Front End Framework, I want to port over some 2D and 3D code I have in my private code collection, and create a stand-alone real time rendering engine for web 3D application development. All code will be HTML, CSS and JavaScript.<br>
					<br>
					I may incorporate other frameworks for design patterns, data loading, 3D models, and will focus my work on Canvas, SVG and main integration with WebGL. To be decided.<br>
					Renderers for the three areas already exists (from a different private project) and the plan for this engine would be to extend the functionality
					of the renderers in both 2D and 3D rendering areas, add animation support and 3D model loading (so 3D Studio MAX, Maya, etc. can be used to make content).<br>
					<br>
					Next a game system would be implemented with entity system, physics, collision detection and special effects.<br>
					<br>
					This is currently a side prototype project. My intentions for this would be two fold. First a whole application engine for making games and apps, and second smaller engine with the code integrated as a framework for making web elements that contain 3D graphics in both WebGL and software rendered HTML in Canvas and SVG.<br>
					<br>
					<strong>Keywords & Tags</strong><br>
					2D, 3D, Graphics, Rendering, Games, Engine, Web, HTML, CSS, JavaScript, Canvas, SVG, WebGL.<br>
					<br>
				p.
					<a href="./gallery">Next Section (Gallery)</a><br>
					<a href="#">Return to Top</a><br>
				.backdrop(style="background-color:#fff;")
		.backdrop(style="background-color:#fff;")
