extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/jarekpredki/jarekpredki.js' )

block body-content
	#container
		#content
			.section#sandbox-home(style="text-align:left;")
				h3 Programming Languages
				p.
					<a href="#">C</a> - 15+ years, used frequently in games and tools development.<br>
					<a href="#">C#</a> - 9+ years, used frequently in tools development.<br>
					<a href="#">C++</a> - 15+ years, used frequently in games and tools development.<br>
					<a href="#">PHP</a> - 7+ years, used frequently in back end web development.<br>
					<a href="#">JavaScript</a> - 15+ years, used frequently in front end web development.<br>
					<a href="#">ActionScript</a> - 11+ used frequently in front end web, games and applications development.<br>
					<a href="#">SQL</a> - 15+ years, used frequently in back end web development.<br>
					<a href="#">ADA</a> - 4+ years, studied in college.<br>
					<a href="#">VB</a> - 5+ years, used in web development.<br>
					<a href="#">ASP</a> - 5+ years, used in web development.<br>
					<br>
				h3 Scripting Languages
				p.
					<a href="#">JavaScript</a> - 15+ years, used frequently in front end web development.<br>
					ActionScript (2 and 3)</a> - 11+ years, used frequently in front end web, games and applications development.<br>
					<a href="#">HTML (4, 5)</a> - 15+ years, used frequently in web development.<br>
					<a href="#">CSS (2, 3)</a> - 15+ years, used frequently in web development.<br>
					<a href="#">AJAX</a> - 5+ years, used frequently in web development.<br>
					<a href="#">JSON</a> - 7+ years, used frequently in web development.<br>
					<a href="#">XML</a> - 10+ years, used frequently in web development.<br>
					<a href="#">Lua</a> - 5+ years, used for add-on creation in World of Warcraft.<br>
					Other Scripts - 7+ years, in-house script in console game development, teaching designers scripting and oop methodology, custom script design and integration into game engine.<br>
					Command Line and Batch Files - 20+ years, commonly used in all forms of software engineering.<br>
					<br>
				h3 Design Patterns
				p.
					<a href="#">Model, View, Controller Pattern</a> - very often.<br>
					<a href="#">State Machine Pattern</a> - very often.<br>
					<a href="#">Entity Pattern</a> and <a href="#">Polymorphism</a> - very often.<br>
					<a href="#">Events / Listener / Dispatcher</a> - very often.<br>
					<a href="#">Factory</a>, <a href="#">Command</a>, <a href="#">Momento</a> Patterns - often.<br>
					<a href="#">Singleton Pattern</a> - often.<br>
					<a href="#">Iterator Pattern</a> - frequently.<br>
					<br>
				h3 Software Engineering Methodology
				p.
					<strong>Object Oriented Programming</strong> - always in use.<br>
					<strong>Design Patterns</strong> - always.<br>
					<strong>Algorithm Design</strong> - always.<br>
					<strong>Code Standards, W3C Standards</strong> - always.<br>
					<strong>Reusable Code and Libraries</strong> - always ready to tackle the next one (Components, Controls, Modules, RESTful API's and SDK's).<br>
					<strong>Continual Research</strong> - always, part of being a software engineer (Code, API's, SDK's and Algorithms).<br>
					<strong>Data Structures Implementation</strong> - part of the process (Linked Lists, Trees, Hash Tables, Stacks, Queues, Custom).<br>
					<strong>Math Coding</strong> - yup! (Algebra, Geometry, Trigonometry, Linear Algebra, Calculus - Binary, Decimal, Hexadecimal).<br>
					<br>
					<strong>Code Commenting and Documenting</strong> - always.<br>
					<strong>Public, Private, Protected, Static, Final Classes and Methods</strong> - always, private members and methods marked with underscore.<br>
					<strong>Operator Overloading</strong> - when applicable.<br>
					<strong>Code Cleanliness, Organized Members, Methods, Public vs. Protected</strong> - high priority.<br>
					<strong>Dead Code Files, Members and Methods</strong> - comment out and find in files, re-connect affected code (if any), typically removed and noted in documentation or new modules created to hold the code if it's still being used (legacy code, dinosaur code).<br>
					<strong>Code & Asset Minification</strong> - preferred and typically used - (JS, AS, CSS, HTML, Images, Textures, Models, Data, Feed, Dynamic Loads).<br>
					<strong>Code & Asset Optimization</strong> - preferred and always on the lookout - (All languages, Images, Textures, Models, Data, Feed, Dynamic Loads).<br>
					<br>
					<strong>Testing</strong> - always - someone has todo it, right? (Quality, Gameplay, Experience, Visual, Feature and Stress Testing).<br>
					<strong>Load, Event, Module and Render Performance Tuning</strong> - always part of the project development and life cycle process.<br>
					<strong>Site Application Page and Event Analytics</strong> - always part of the development process.<br>
					<strong>Site, Application, Engine and Game Code Profiling</strong> - always part of the development process (pages, element interaction, content interaction).<br>
					<strong>Code Debugging</strong> - 15+ years, it's an art - Visual Studio, FlashDevelop, Broswer Developer Tools, Firebug, Fiddler, etc.<br>
					<strong>Code and Wiki Documentation</strong> - I always do to some degree (not to get too caught up in doc writing). Some studios do little, some do a lot, I try to fit in.<br>
					<strong>Developer Tool Creation</strong> - I always have something in the debug console printing, asserts, pre-processor directives, build type directives, platform directives, try + catch + throw segments, profiling code, profiler ui, in-game / in-app debugger ui.<br>
					<strong>Peer Code Reviews and Mentoring</strong> - always part of the engineering process, and ready to help whenever I can.<br>
					<br>
					<strong>Design Phase</strong> - wireframe creating, spec writing, prototyping, code and API research, design and art research - all part of the work day.<br>
					<strong>Development Phase</strong> - wireframe / mockup to code prototyping, algorithm research, design and coding, module, controls, services, engine systems development, long hours coding - all part of the work day.<br>
					<strong>Testing Phase</strong> - full local build testing during development, dev / validation / staging server testing, QA team collaboration, issue tracking, project tracking, documentation - all part of the work day.<br>
					<strong>Deploy Phase</strong> - server preparations, nightly or weekly builds and deploys, automated script execution, etc. - all part of the work day.<br>
					<strong>Update Mode</strong> - prototyping, testing, designing, coding, documenting, frequent code base updates - all part of the work day.<br>
					<br>
					<strong>Crunch Time</strong> - always a team player, and able to work remotely (including on sick days).<br>
					<strong>Remote Work</strong> - possible if needed. I have a current PC Laptop that can be used for work.<br>
					<br>
				h3 Office Applications
				p.
					<strong>Microsoft Windows</strong> - 20+ years, used all versions: 3+, 95, 98, 2000, NT, XP, Vista, 7+ (prefered), 8+.<br>
					<strong>Microsoft Office</strong> - 20+ years, used Outlook, Word, Excel, PowerPoint, Access since 1992.<br>
					<strong>Microsoft Project</strong> - 15+ years, used desktop and online version.<br>
					<strong>Atlassian JIRA</strong> - 5+ years, used in software engineering career, and currently using for private / business issue and task tracking.<br>
					<strong>Atlassian Confluence</strong> - 5+ years, used in software engineering career, and currently using for private / business wiki.<br>
					<br>
				h3 Source Control Applications
				p.
					<strong>Microsoft Source Safe</strong> - 6+ years used in software engineering career.<br>
					<strong>Atlassian Perforce</strong> - 5+ years, used in software engineering career, and currently using for private / business source control.<br>
					<strong>SubVersion</strong> - 6+ years used in software engineering career.<br>
					<strong>GitHub</strong> - 3+ years, it's getting popular, isn't it?<br>
					<strong>Custom</strong> - 3+ years, designed and developed in-house asset and source control tool.<br>
					<br>
				h3 Source Code Editors
				p.
					<strong>Microsoft Visual Studio</strong> - 15+ years, used frequently for game, tools and web development.<br>
					<strong>FlashDevelop</strong> - 10+ years, used frequently for hand coding in game and web development.<br>
					<strong>TextPad</strong> - 10+ years, favorite text editor.<br>
					<br>
				h3 Graphics Applications
				p.
					<strong>Adobe Photoshop</strong> - 19+ years, used frequently since version 2 (not since CS2, since version 2.+ before they added the CS to the name).<br>
					<strong>Adobe Flash</strong> - 9+ years, since Flash Player version 6.<br>
					<strong>Adobe Illustrator</strong> - 10+ years, used frequently in web development.<br>
					<strong>Adobe Fireworks</strong> - 5+ years, used off and on in web development.<br>
					<strong>Adobe Premiere</strong> - 15+ years.<br>
					<strong>Adobe InDesign</strong> - in recent years.<br>
					<strong>Adobe Lightroom</strong> - 5+ years, used in side photography project.<br>
					<strong>Autodesk 3D Studio MAX</strong> - 10+ years, used in game development, designed plugins for designers.<br>
					<strong>Photomatix</strong> 5+ years, used in side photography project.<br>
					<br>
				h3 Game Development Research
				p.
					<strong>Engine Design</strong> - always researching this topic, and planning to design a HTML/JavaScript 3D game engine in the future as a side project.<br>
					<strong>AI</strong> - always interested in this topic for games development.<br>
					<strong>Collision</strong> - always interested in this topic for games development.<br>
					<strong>Graphics</strong> - always been interested in graphics for games and web development.<br>
					<strong>Android SDK</strong> - researching to games / applications development.<br>
					<strong>MMO Games</strong> - massive multiplayer games development is of high interest to me as well.<br>
					<strong>Online and Mobile Games</strong> - general game development research regarding web and mobile games.<br>
					<br>
				h3 Web Development Research
				p.
					<strong>Application and Engine Design</strong> - always researching this topic.<br>
					<strong>Media</strong> - staying on top of data formats, image formats, graphics processing, video, etc.<br>
					<strong>Games</strong> - playing and staying on top of what is fun, where the industry is heading, etc.<br>
					<strong>Social Engagement</strong> - social interaction, trends and how to incorporate social networks into web development, user experiences, etc.<br>
					<strong>Graphics (2D, 3D and Animation)</strong> - 3D on the web is a hot topic, and being able to do real time rendering in HTML is high on my list of things to design and develop in the future.<br>
					<strong>JavaScript</strong> - what can I say, always more to learn in this area.<br>
					<strong>Frameworks</strong> - frameworks come and go, native code stays. There's a lot to choose from in this area and some frameworks don't stand the test of time.<br>
					<br>
				h3 Front End Web Frameworks, Libraries, API's & SDK's
				p.
					<a href="#">jQuery</a> - I love jQuery, and always keep the reference manual handy. Been using it for years now and will no doubt continue to use it.<br>
					<a href="#">jQuery UI</a> - I like it, and use it when I need quick UI elements.<br>
					<a href="#">jQuery Mobile</a> - used it before, and will most likely use it again in mobile development.<br>
					<a href="#">AngularJS</a> - showing lots of promise, neat design and fun to work with.<br>
					<a href="#">Bootstrap</a> - showing promise, ui widgets and componets.<br>
					<a href="#">BackboneJS</a> - nice MVC library for visual, user interface elements, event handling, collections.<br>
					<a href="#">UnderscoreJS</a> - nice utility library.<br>
					<a href="#">GruntJS</a> - automation tool, always helpful to have stuff like this.<br>
					<a href="#">RequireJS</a> - very cool, planning to fully integrate this into my own framework in the near future.<br>
					<a href="#">HandlebarsJS</a> - evaluating.<br>
					<a href="#">Facebook API</a> - always researching social API's.<br>
					<a href="#">Google API</a> - always researching social API's.<br>
					<a href="#">Twitter API</a> - always researching social API's.<br>
					<a href="#">Instagram API</a> - always researching social API's.<br>
					<br>
				h3 Back End Web Frameworks, Libraries, API's & SDK's
				p.
					<a href="#">NodeJS</a> - ongoing reasearch, reading, learning, all that good stuff.<br>
					<a href="#">Ruby on Rails</a> - ongoing reasearch, reading, learning, all that good stuff.<br>
					<a href="#">LESS</a> - very cool, planning to fully integrate into my own framework in the near future.<br>
					<a href="#">SASS</a> - very cool, planning to fully integrate into my own framework in the near future.<br>
					<a href="#">Web Services, Web Sockets</a> - always good to learn more in this area.<br>
					<br>
				h3 Researching & Learning of Graphics Frameworks
				p.
					<a href="#">Canvas</a> - graphics in HTML + JavaScript, yay!<br>
					<a href="#">SVG</a> - cool stuff with vector graphics, feels like working with Flash and ActionScript.<br>
					<a href="#">WebGL</a> - really cool, full hardware accelerated 3D rendering in the browser.<br>
					<a href="#">Unity</a> - also really cool, more 3D on the web.<br>
					<a href="#">DirectX</a> - for games development.<br>
					<a href="#">OpenGL</a> - for games development.<br>
					<br>
				h3 Photography Research
				p.
					<strong>Photography</strong> - frequently shooting and editing photos, evening, night, low light, flash, astro, sunset / sunrise.<br>
					<a href="#">High Definition Range</a> - constantly researching ways to improve this form of photography.<br>
					<strong>Post-Processing</strong> - constantly researching new ways to post-process photographs.<br>
					<a href="#">Luminosity Masks</a> - fun way to get crisp photos, mostly Photoshop work.<br>
					<a href="#">Nikon SDK</a> - planning to make a phone / tablet app to control my Nikon from my phone or tablet.<br>
					<a href="#">Android SDK</a> - planning to make a phone / tablet app to control my Nikon from my phone or tablet.<br>
					<a href="#">CamRanger</a> - planning to make a phone / tablet app to control my Nikon from my phone or tablet.<br>
					<br>
				p.
					<a href="./education">Next Section (Education)</a><br>
					<a href="#">Return to Top</a><br>
				.backdrop(style="background-color:#fff;")
		.backdrop(style="background-color:#fff;")
