extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/jarekpredki/jarekpredki.js' )

block body-content
	.section#sandbox-home(style="text-align:center;")
		p.
			E-Mail - <a href="mailto:jarek.predki@hotmail.com">jarek.predki@hotmail.com</a><br>
			Mobile - 206.946.2508<br>
			Daytime hours are best for calls.<br>
			Feel free to e-mail me, send a text message or leave me a voice mail.<br>
			<br>
		h3 Social Networks
		p.
			Personal Profile on <a href="https://plus.google.com/u/0/111880824523003118200/posts" target="_blank">Google+</a><br>
			Personal Profile on <a href="https://www.facebook.com/jarekpredki/" target="_blank">Facebook</a><br>
			Photography Page on <a href="https://www.facebook.com/grafeeka/" target="_blank">Facebook</a><br>
			Personal & Photography Feed on <a href="https://www.twitter.com/jarekpredki/" target="_blank">Twitter</a><br>
			Personal & Photography & Gaming Feed on <a href="https://www.instagram.com/jarekpredki/" target="_blank">Instagram</a><br>
			Personal & Photography Channel on <a href="https://www.youtube.com/user/jabek78" target="_blank">Youtube</a><br>
			<br>
		h3 Disclaimer
		p.
			All Company Names, Logos and Brands are Registered Trade Marks of their respective business entity owners.<br>
			Projects listed on this site are past works directly influenced by me.<br>
			All past work includes: ui / game / front and back web development in areas of design / engineering / team and project leading / team and business management.<br>
			<br>
		h3 Site Info
		p.
			This site is meant to serve as an online resume and portfolio of my education, past work experience and a collection of projects to showcase.<br>
			Over time I'll build some examples to place on here, using various frameworks and showing specifics from programming and so on.<br>
			<br>
			Built with NodeJS + Express + Jade (back end), Backbone + Handlebars + JavaScript, HTML 5, CSS 3.<br>
			<br>
		p.
			<a href="../">Return to Sandbox</a><br>
			<a href="./">Return to Resume</a><br>
			<a href="#">Return to Top</a><br>
		.backdrop(style="background-color:#fff;")
