extends ../layout.jade

block head-content
	include ../sandbox.jade
	script( type='text/javascript' src='/public/javascripts/jarekpredki/jarekpredki.js' )

block body-content
	.section#sandbox-home(style="text-align:left;")
		h3 Senior or Lead - Front End Web Engineer, Web Development Engineer or UI/UX Developer
		p.
			<strong>Preferred Programming Languages</strong><br>
			HTML 5, CSS 3, JavaScript, ActionScript 3 - All front and back end frameworks are acceptable.<br>
			<br>
			<strong>Preferred Platforms and Markets</strong><br>
			Web, Media, Mobile, Social, High Traffic and Visibility Sites are all acceptable.<br>
			<br>
			<br>
			or...<br>
		h3 Senior or Lead - Game Engine Engineer, Gameplay Engineer or Software Engineer
		p.
			<strong>Preferred Programming Languages</strong><br>
			C, C++, C#, JavaScript, ActionScript 3 are all acceptable.<br>
			<br>
			<strong>Preferred Platforms and Markets</strong><br>
			Console (X-Box, PlayStation), PC, Web, Flash, Canvas, WebGL, Unity, Handheld, Smartphone, Tablet and Android are all acceptable.<br>
			<br>
		h3 Work Status
		p.
			Looking for Full Time Employment.<br>
			Currently Self Employed at ClearerImage, Inc.<br>
			<br>
			<strong>Availability</strong>: Immediate.<br>
			<br>
		h3 Career Plan and Goals
		p.
			To find a senior level game engineer or web developer position, as an on-site full time employee with a notable and established company. I've enjoyed work in the games, media and web industries and wish to continue my software engineering career and further enhance my design and programming skills. Heading into the future, I wish to explore leading projects on the design and engineering sides. In the coming years I wish to finish my Bachelor of Science in Computer Science degree and head directly into a Master of Science in Computer Science degree program. Additionally I wish to move into full project or engineering team management.<br>
			<br>
			My plans are to stay with one company for a long time, learn the code inside and out (so to speak) and be the all around, know-it-all engineer. I want to be able to jump into any part of the code base and write new features or update existing logic. Ideally the team would be mid sized, with up to a few of each in the departments of engineering, design and art, as well as project and engineering management.<br>
			<br>
			<strong>In the Games Industry</strong><br>
			Ideally I would like to do engine or gameplay engineering on console games (X-Box or PlayStation), PC desktop games, web games, mobile or casual games.<br>
			<br>
			<strong>In the Media Industry</strong><br>
			Ideally I would like to do front end web engineering on a single (or a few) larger, high traffic and visibility site(s), maintaining existing code and adding new content and activities to the existing site. Web and mobile is fine for me, as it is the area that interest me most in terms of technology.<br>
			<br>
			<strong>In the Web Industry</strong><br>
			Ideally I would like to join a web development studio creating new web sites and maintaining existing sites with updates and new content. Web and mobile is fine.<br>
			<br>
			In terms of development work, I enjoy game and front end web development the most. I hand code in C, C#, C++, PHP, JavaScript, ActionScript, HTML, CSS, SQL, XML, JSON. I can pick up new languages quickly due to my exposure to various programming languages over the years. As soon as I learn the language syntax, format and structure, I can begin designing and programming logic. I don't have any preference on frameworks. I have used many SDK's and API's over the years, and will no doubt learn new ones in the coming years. If I don't know an SDK or API, as part of being an engineer I will learn whatever is being used or needed. I consider that part of being an engineer.<br>
			<br>
			I'm familiar with most commonly used design patterns and have used several over the years during my career (MVC, State, Factory, Command, Momento, Iterator, Proxy, Singleton, Events). Back end structure and database formats, again no preferences. I'm able to learn and adjust. I've worked with social networks before and have an understanding of oAuth, Facebook API, Google API (Plus, Maps, Drive, Analytics), Twitter API, Instagram API. I've also worked on various forms of web sites with different back end and front end structures (IIS, Apache, Java, ASP, VB, JavaScript, Flash, HTML), and of various scales in terms of code base and team size. I'm very comfortable jumping into a project, getting familiarized quickly and be able to do my design and engineering tasks as soon as my dev system has code setup, everything is building and running locally. At which point I'm ready to begin working. I'm perfectly fine working alone designing, coding, debugging, testing, documenting, and working in groups with designers, artists, animators, producers, project managers, engineering leads and managers. I enjoy collaborative team work with designers and artists, junior engineers, mentoring and tutoring: OOP, Design Patterns, Scripting, Compiling, Rendering, 3D Cameras, 3D Math and in general I enjoy lending my knowledge when I feel I can contribute.<br>
			<br>
		h3 Salary History and Desired Compensation
		p.
			<strong>Summary</strong><br>
			Started my Software Engineering career in August of 2000 - continually working in the field since then. Main focus has always been on the presentaton / front end side of engineering and design, and some work on the art side. Engineering wise, I've worked on the game engine, gameplay, front end web development, back end web development, start up business development and management. I've been paid yearly salaries, per project and per hour over the length of my career. Initial career salary started around $65k per year and has steadily gone up $3-5k each year since. Do the math to figure out the range of where I'm at career wise. Or contact me directly for more specific details.<br>
			<br>
			<strong>Things I Consider</strong><br>
			<strong>a)</strong> Weekly work load and hours. Typically people work 40 hours per week, and in this career there's always milestones and deadlines to meet, and often we work many hours past that.<br>
			<br>
			<strong>b)</strong> Amount of responsibility associated with the position. If I'm maintaining a large scale site that has high visibility and traffic, that will no doubt affect my mental state at times, so this too is good to know. Things that fall into this category are number of projects I would be working on at once, profile of projects (high/low traffic/visibility), number of other team members in case mentoring is part of the position (which is fine, just wish to know if mentoring will be a major part of the work day or occasional).<br>
			<br>
			<strong>c)</strong> Project profile and visibility. Just want to know if it's a high stress job and things of that nature. I'm the type of person that will notice spelling and grammar errors on a high profile web site and I don't like to be that kind of developer. I like things to look pretty, or as we developers say - "pixel perfect" - within reason, of course.<br>
			<br>
			<strong>d)</strong> Position seniority also will determine my desired salary. I've been working in the engineering field for 15 years, and I'm able to quickly pick up new programming languages, quickly learn frameworks, get into a new large code base and be able to get my head wrapped around it in a few days. I'm able to work accross the board in design and development, be that on the front end or back end. I prefer working on the front end side of an application or web site, simply because I'm part artist and enjoy visuals, photos, and art in general. Though I'm able to work on back end code, or get into databases and work there if I have to.<br>
			<br>
			<strong>e)</strong> Possibility of remote work. I'm not actually looking for remote type of work, but it has been convenient in the past to be able to VPN and keep working from home. At the last studio I was with, the awesome IT guy had my laptop setup with VPN just in case (though I worked in the studio, and initially didn't need remote working ability) and it just happened that I came down with the flu, and stayed home for three days. During this time I was still able to work remotely and communicate via Skype and calls to finish my work and have my things ready for the next release.<br>
			<br>
		p.
			<a href="./skills">Next Section (Skills)</a><br>
			<a href="#">Return to Top</a><br>
		.backdrop(style="background-color:#fff;")
