doctype html
html
	head
		title= title
		link( rel='stylesheet' href='/public/stylesheets/style.css' )
		script( type='text/javascript' src='/public/javascripts/lib/underscore-min.js' )
		script( type='text/javascript' src='/public/javascripts/lib/jquery.min.js' )
		script( type='text/javascript' src='/public/javascripts/lib/handlebars.js' )
		script( type='text/javascript' src='/public/javascripts/lib/backbone-min.js' )
		script( type='text/javascript' src='/public/javascripts/photogallery/photogallery2.js' )
	body
	#pg2-container
		#pg2-photos
		#pg2-preview

	script( id='photo-template', type='text/x-handlebars-template' )
		<img id="photo-{{id}}" src="{{url}}" title="{{name}} - {{date}}" />

	script( id='photo-preview-template', type='text/x-handlebars-template' )
		<img id="photo-preview-{{id}}" src="{{url}}" title="{{name}} - {{date}}" />
		p.
			{{name}}<br>
			{{date}}
